.consoleboard {
    background: #0C0C0C;
    border-radius: .24rem;
    color: #dbdbdb;
    font: .9em "Consolas", "Inconsolata", Monospace;
    margin: 18px 0;
    padding: 4px 4px 80px;
    overflow-y: auto;
    word-break: break-all;
}