@import "codeboard.css";
@import "consoleboard.css";

* {
   /* margin: 0; */
   /* padding: 0; */
   box-sizing: border-box;
   caret-color: transparent;
}
body {
   background: #eee;
   font: 18px sans-serif;
}
.header {
   background:
      radial-gradient(
         circle at 30% top,
         rgba(255, 255, 255, 0) 0%,
         rgba(255, 255, 255, 0.06) 50%, rgba(255,255,255, 0) 45%),
   linear-gradient(#1b528a, #073c79);
   color: #efefef;
   padding: 30px 15px;
}
h1 {
   margin: 0 0 20px;
   text-shadow: 0 -1px rgba(0 0 0 / 80%);
   font-size: 1.4em;
   text-transform: uppercase;
}
h2 {
   padding: 0 20px;
}
.aside-panel {
   background: #232323;
   border-radius: 0.5rem;
   box-shadow: 0 2px 10px 0 rgba(0 0 0 / 18%);
   color: #fdfdfd;
   cursor: default;
   position: fixed;
   max-width: 320px;
   z-index: 1;
}
.aside-menu {
   padding: 15px;
}
.aside-menu ul {
   list-style: none;
   padding: 0;
}
.aside-menu ul li a {
   color: #cdcdcd;
   text-decoration: none;
   transition: color .12s;
}
.aside-menu ul li a:hover {
   color: #fff;
}
.meta-info {
   text-align: right;
}
.container {
   background: #fff;
   box-shadow: 0 1px 10px rgba(0 0 0 / 30%);
   margin: 0 auto;
   max-width: 1120px;
   margin-bottom: 105px;
   padding-bottom: 20px;
}
section {
   padding: 0 20px;
}
.main-nav {
   background: #232323;
   border-radius: 1.3rem;
   box-shadow: 0 2px 10px 0 rgba(0 0 0 / 23%);
   padding: 8px 10px;
   position: fixed;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
}
.main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
.main-nav ul li {
   display: inline-block;
}
.main-nav ul a {
   color: #fefefe;
   display: inline-block;
   background: rgba(255 255 255 / 10%);
   border-radius: 1rem;
   padding: 12px;
   text-decoration: none;
   transition: background .12s;
}
.main-nav ul a:hover {
   background: rgba(255 255 255 / 20%);
}
p {
   line-height: 1.3em;
}
.bold {
   font-weight: bold;
}
.text-center {
   text-align: center;
}
.text-right {
   text-align: right;
}
h4 {
   margin: 0;
}
.orange-block {
   background: #ffe5b1;
   box-shadow: inset 0 0 30px rgba(255 165 0 / 20%);
   border-radius: .3rem;
   margin: 18px 0;
   padding: 10px;
}
.orange-block p {
   margin: 0;
}
.key {
   background: #eee;
   box-shadow: 0 0 2px 1px rgba(0 0 0 / 20%);
   border-radius: .3rem;
   cursor: default;
   padding: 2px 4px;
}